body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.form{
    width: 500px;
    background-color: #eeeeee;
    padding: 0px 30px;
    display: grid;
    gap: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.form h1{
    color: black;
}
.form label{
    color: black;
}
input{
    position: relative;
    right: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
#OTPverify{
    width: 100%;
    display: none;
    gap: 20px;
}
.btn{
    padding: 10px;
    background-color: #82eec1;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    margin: 10px;
}
.btn1{
    position: relative;
    left: 170px;
    padding: 10px; 
    background-color: #82eec1;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    transition: background-color 1s;
}
.btn1 :hover{
    background-color: #64d7a7;
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
  }
  .close:hover {
    opacity: 0.5;
  }
  .close:before, .close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color:  rgb(252, 250, 248);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }